<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO #card-component: add link to a new './card/card.component.css' file -->
  </head>
  <body>
    <section class="overflow-auto flex-grow-1 d-flex flex-column">
      <div class="container-fluid flex-grow-1">
        <!-- TODO #shell: keep this element -->
        <main class="game-cmp">
          <div class="cards"></div>
        </main>
      </div>
    </section>
    <script>
      (function () {
        new GameComponent().init();
      })();
    </script>
  </body>
</html>
